@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    box-sizing: border-box;
}

.input-wrapper.invalid input {
    border-color: red;
}

.input-wrapper span {
    display: none;
    color: red;
}

.input-wrapper.invalid span {
    display: block;
}
